footer {
  width: 100%;
  background: #eaeaea;
  padding-bottom: 2rem;
  margin-top: 2rem;
  color: #000000 !important;

  .col-container {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1rem;
    padding: 1rem 0;

    .col {
      width: 100%;
      padding: 0 1rem;
      ul {
        li {
          margin: 0.5rem 0;
        }
      }
      &:last-child {
        grid-column: 1/3;
        li {
          font-weight: 600;
          font-size: 11px;
        }
      }
    }
  }
  p {
    font-size: 10px;
    padding: 1rem 0;
    margin-bottom: 0;
    padding: 1rem;
  }
}

// MEDIA QUERIES

@include for-phone-only {
}

@include for-tablet-potrait-up {
  footer {
    .col-container {
      grid-template-columns: repeat(3, 1fr);
      .col {
        &:first-child {
          display: flex;
          justify-content: center;
        }

        &:last-child {
          grid-column: 3/3;
          li {
            font-weight: 400;
            font-size: 15px;
          }
        }
      }
    }

    hr {
      width: 80%;
      margin-left: 13%;
    }
    p {
      font-size: 12px;
      margin-left: 13%;
      padding: 1rem 0;
      margin-bottom: 0;
      width: 80%;
    }
  }
}

@include for-tablet-landscape-up {
}

@include for-desktop-up {
  footer {
    .col-container {
      .col {
        ul {
          li {
            margin: 0.5rem 0;
          }
        }
      }
    }
    hr {
      width: 80%;
      margin-left: 13%;
    }
    p {
      font-size: 12px;
      margin-left: 13%;
      padding: 1rem 0;
      margin-bottom: 0;
    }
  }
}

@include for-big-desktop-up {
}
